<% content_for :title do %>
  <%= "Spree #{Spree.t('administration')}: #{Spree.t(:inquiry, scope: :inquiries)}" %>
<% end %>

<% content_for :page_title do %>
  <%= Spree.t(:inquiry, scope: :inquiries) %>
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to Spree.t(:back), collection_url, { class: 'btn-primary btn' } %>
    <%= link_to "Delete", admin_inquiry_path(@inquiry.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<% end %>

<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row"><%= Spree.t(:date) %>:</th>
      <td><%= I18n.l @inquiry.created_at %></td>
    </tr>
    <tr>
      <th scope="row"><%= Spree.t(:name) %>:</th>
      <td><%= @inquiry.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= Spree.t(:email) %>:</th>
      <td><%= mail_to "#{@inquiry.name} <#{@inquiry.email}>", @inquiry.email %></td>
    </tr>
    <tr>
      <th scope="row"><%= Spree.t(:phone) %>:</th>
      <td><%= @inquiry.phone_number %></td>
    </tr>
    <tr>
      <th scope="row"><%= Spree.t(:type) %>:</th>
      <td><%= @inquiry.inquiry_type %></td>
    </tr>
    <tr>
      <th scope="row"><%= Spree.t(:order) %>:</th>
      <td><%= @inquiry.order_no %></td>
    </tr>
    <tr>
      <th scope="row"><%= Spree.t(:message) %>:</th>
      <td><%= @inquiry.message %></td>
    </tr>
    <tr>
      <th scope="row"><%= Spree.t(:ip_address) %>:</th>
      <td><%= @inquiry.http_remote_addr %></td>
    </tr>
    <tr>
      <th scope="row"><%= Spree.t(:user_agent) %>:</th>
      <td><%= @inquiry.http_user_agent %></td>
    </tr>
    <tr>
      <th scope="row"><%= Spree.t(:viewport_size) %>:</th>
      <td><%= @inquiry.client_viewport_size %></td>
    </tr>
  </tbody>
</table>
